@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("/css/media_queries.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: hsl(21, 70%, 24%);
  --main-darker: hsl(21, 70%, 21%);
  --second: #ffcc0a;
  --neutral: #fafafa;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--neutral);
}

body::-webkit-scrollbar {
  width: 1.1em;
}

body::-webkit-scrollbar-track {
  background: var(--neutral);
}

body::-webkit-scrollbar-thumb {
  background: var(--main);
  border: 0.2em solid var(--neutral);
  border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--main-darker);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.bar-container {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
}

.logo__title {
  font-family: "Abril Fatface", serif;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: var(--main);
}

#burguer-btn {
  font-size: 1.8rem;
  color: var(--main);
  cursor: pointer;
}

#menu {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  justify-content: center;
  font-size: 1rem;
  padding: 2rem;
  transition: all 0.3s;
  overflow-y: visible;
}

#menu.active {
  top: 0;
  left: 0;
  background-color: var(--main);
  z-index: 100;
  overflow-y: hidden;
}

#menu.active ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  margin-top: 5rem;
}

#menu li {
  list-style: none;
}

#menu .fa-solid {
  color: var(--second);
  margin-right: 15px;
}

#menu a {
  color: var(--neutral);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  padding: 2rem;
  background-color: #fff9e3;
  color: var(--neutral);
}

.texto h1,
.texto p {
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 3%;
}

.texto p {
  max-width: 600px;
  font-size: 1.1rem;
}

.btn {
  background-color: var(--second);
  color: var(--main);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  outline: none;
  border: solid 2px var(--main);
  border-radius: 3px;
  padding: 1em 2em;
  transition: 0.4s ease;
  cursor: pointer;
  width: 100%;
}

.round {
  font-size: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 50%;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95px;
  background-color: var(--second);
  color: var(--main);
  margin-bottom: 2%;
}

.art {
  display: grid;
  grid-template-areas: "adam pizza god";
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.adam {
  grid-area: adam;
  width: 150px;
}

.pizza {
  grid-area: pizza;
  width: 80px;
  justify-self: center;
}

.god {
  grid-area: god;
  width: 150px;
}

.brown {
  background-color: var(--main);
  color: var(--second);
}

.bebidas {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
  cursor: pointer;
}

.card__name {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--main);
}

.card__price {
  color: var(--main);
  font-size: 1rem;
}

.card__img {
  max-width: 300px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

input[type="radio"] {
  accent-color: var(--main);
  cursor: pointer;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
  background-color: var(--second);
  color: var(--main);
  padding: 2rem;
  padding-bottom: 4rem;
}

.endereco,
.telefone,
.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.creditos {
  text-align: center;
}

.creditos h2 {
  color: var(--main-darker);
  margin-bottom: 0.5rem;
}

.creditos a {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  color: var(--main);
}

.creditos a:hover {
  text-decoration: underline;
}

.creditos i {
  font-size: 0.7rem;
}

.socials i {
  font-size: 1.4rem;
  color: var(--main);
  transition: ease 0.3s;
}

.socials a {
  text-decoration: none;
  color: var(--main);
}

.socials a:hover {
  text-decoration: underline;
}

#menu.active .socials {
  color: var(--second);
}

.socials i:hover {
  color: var(--main-darker);
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem;
  }

  .adam,
  .god {
    width: 250px;
  }

  .pizza {
    width: 100px;
  }

  footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .socials {
    grid-column: 1/3;
  }

  footer:has(.creditos) .socials {
    grid-column: 1;
  }
}

@media screen and (min-width: 1025px) {
  .btn {
    border-radius: 30px;
    width: initial;
    border: none;
    color: var(--main);
  }

  .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 2rem;
  }

  .bar-container {
    display: none;
  }

  #burguer-btn {
    display: none;
  }

  #menu {
    position: static;
    width: auto;
    height: auto;
    font-size: 1rem;
    padding: 1rem;
  }

  #menu a,
  #menu i {
    color: var(--main);
  }

  #menu .fa-solid {
    color: var(--main);
    margin-right: 15px;
  }

  #menu li {
    display: inline;
    margin-right: 15px;
    transition: all 0.15s ease-in-out;
  }

  #menu li:hover {
    background-position: left;
    background-color: var(--second);
  }

  #menu li:last-of-type {
    margin-right: 0;
  }

  #menu .fa-solid {
    margin-right: 5px;
  }

  .adam,
  .god {
    width: 300px;
  }

  .pizza {
    width: 120px;
  }

  .card__img:hover {
    transform: scale(1.1);
  }

  footer {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
  }

  .socials {
    grid-column: 3;
  }

  footer:has(.creditos) {
    grid-template-columns: repeat(4, 1fr);
  }

  footer:has(.creditos) .socials {
    grid-column: 3;
  }
}
